html {
    background-color: rgb(101, 172, 142);
}
body {
    color: rgb(0, 0, 0);
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 16px;
}
.title {
    font-size: 45px;
    color: rgb(0, 0, 0);
}